* {
    padding:0;
    margin:0;
}
body {
    background:#f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin: 0;
}
.container {
    margin: auto;
    overflow: hidden;
}
header {
    background: maroon;
    color: white;
    padding:5px 0;
    position:sticky;
    top:0;
    z-index: 2;
}
#logo1 {
    vertical-align:middle;
    width:70px;
    padding-left:10px;
    cursor: pointer;
    transition: 0.3s;
}
#logo1:hover{
    width: 75px;
}
#logo2 {
    vertical-align:middle;
    width:280px;
    padding-left:10px;
}
.iaf-logos {
    box-sizing: border-box;
    margin-right: 30px;
    vertical-align:middle;
    height: 80px;
    border-radius: 50%;
}
.iaf-logos:hover {
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 50%;
}
.right{
    display: inline;
    float:right;
    margin-right: 10px;
}
header a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}
header a:hover {
    text-shadow: 0.5px 0.5px #f4f4f4;
}
nav {
    width:100%;
    background: #333;
    padding:15px 0;
    position:sticky;
    top:95px;
    z-index: 2;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;
    color:white;
}
nav a {
    box-sizing: border-box;
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size:18px;
    padding:2px 5px;
}
nav a:hover {
    color: white;
    text-shadow: 0.5px 0.5px #f4f4f4;
}
nav li:nth-child(1){
    padding-left:20px;
}
.small-space{
    margin-top:10px;
}
.medium-space{
    margin-top:50px;
}
.large-space {
    margin-top: 100px;
}
.last-space {
    margin-top:2000px;
}
footer {
    width:100%;
    background: #333;
    padding:15px 0;
    text-align: center;
    bottom: 0;
}
footer ul{
    list-style: none;
    margin-left: 360px;
}
footer li {
    display: inline;
    padding-right: 10px;
}
footer a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}
footer a:hover {
    color: white;
    text-shadow: 0.5px 0.5px #f4f4f4;
}
/*ADDED 25-06-2021*/
#main_container{
    position: absolute;
    top: 180px;
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 45px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 40%;  
}
/* Animation*/
.modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* close button*/
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*ADDED 26-06-2021*/
.sub-menu-bell{
    display: none;
}
.bell:hover .sub-menu-bell{
    display: block;
    position: absolute;
    background: #333;
    box-sizing: border-box;
    margin-left: -150px;
}
.bell:hover .sub-menu-bell ul{
    display: block;
    margin: 10px;
}
.bell:hover .sub-menu-bell ul li{
    width:200px;
    display: block;
    padding: 5px;
    border-bottom: 1px solid white;
}
.sub-menu-user{
    display: none;
}
.sub-menu-user ul{
    text-align: left;
}
.user:hover .sub-menu-user{
    display: block;
    position: absolute;
    background: #333;
    box-sizing: border-box;
    margin-left: -70px;
}
.user:hover .sub-menu-user ul{
    display: block;
    margin: 10px;
}
.user:hover .sub-menu-user ul li{
    width:120px;
    display: block;
    padding: 5px;
}
.sub-menu-hof{
    display: none;
}
i{
    margin-right: 5px;
}
.hof:hover .sub-menu-hof{
    position: absolute;
    display: block;
    background: #333;
    box-sizing: border-box;
    margin-left: 300px;
}
.hof:hover .sub-menu-hof ul{
    display: block;
}
.hof:hover .sub-menu-hof ul li{
    display: block;
    width: fit-content;
    padding: 5px;
}
.sub-menu-hof ul{
    text-align: center;
}
.sub-menu-hof ul li:hover{
    text-shadow: 0.5px 0.5px #f4f4f4; 
}

/* Abhishek Added on 26-06-21 */

.slidebar{
    position: fixed;
    left: 0;
    top: 16vh;
    width: 250px;
    height: 100vh;
    background: rgb(40, 40, 40);
    z-index: 1;
}
.slidebar h4{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(65, 64, 64);
    user-select: none;
}
.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255 ,255 ,0.1 );
    border-bottom: 1px solid black;
    text-decoration: none;
}
.slidebar ul a:hover{
    background: rgb(26, 25, 25);
}
.slidebar ul a i{
    margin-right: 15px;
}
/* Abhishek Added on 26-06-21 */

/*Omkar J added 16-07-2021*/
.sub-menu-exam1{
    display: none;
}
.exam1:hover .sub-menu-exam1{
    position: absolute;
    display: block;
    background: #333;
    box-sizing: border-box;
    margin-left: 250px;
}
.exam1:hover .sub-menu-exam1 ul{
    display: block;
}
.exam1:hover .sub-menu-exam1 ul li{
    display: block;
    width: fit-content;
    padding: 5px;
}
.sub-menu-exam1 ul{
    text-align: center;
}
.sub-menu-exam1 ul li:hover{
    text-shadow: 0.5px 0.5px #f4f4f4; 
}
/*Omkar J added 16-07-2021*/

.container_main{
    display: grid;
}
.main_content{
    grid-column: 2/4;
    grid-row: 1/2;
    float: right;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 400px;
}

.button{
    background: green;
    color: white;
    padding: 10px;
    border: 2px solid red;
    margin-top: 40px ;
    display: block;
    width: fit-content; 
    margin: 20px auto 0 auto;
}


form {
    color: black;
    border:black solid 1px;
    background:rgb(191, 216, 219,0.8);
    padding: 40px;
    width: 42%;
    position: relative;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
    /* margin-left: 150px; */
    margin-top: 20px;
    /* margin-bottom: 50px; */
}
/* @media screen and (min-width: 800px) {
    form {
        margin-top: 300px;
    }
} */
form h1{
    text-align:center;
}
form label{
    font-size:18px;
    display: block;
    width: 300px;
    padding: 12px;
    margin: 0 20px;
}

form input {
    padding: 7px;
    font-size: 18px;
}
form input[type=radio] {
    margin-left:10px;
}
#uname_ans{
    margin-left: 40px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#date_ans{
    margin-left: 220px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#email_ans{
    margin-left: 40px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#pincode_ans{
    margin-left: 40px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#pass_ans1{
    margin-left: 40px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#pass_ans2{
    margin-left: 40px;
    color: red;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
select {
    color:rgb(107, 107, 107);
}
.pass {
    margin-right:0.15em;/*not efficient*/
}
input[type="text"],
input[type="password"],
input[type="number"],
select
{
    padding: 7px;
    font-size: 18px;
    width: 450px;
    padding: 12px;
    margin: 0 20px;
    border: 1px solid;
    border-radius: 10px;
}
.inline-label {
    display: inline;
}
.gender-label {
    margin-left: 0;
    margin-right: 50px;
}
#male {
    margin-left: 40px;
}
.small-space{
    margin-top:10px;
}
.medium-space{
    margin-top:50px;
}
.center {
    text-align:center;
}
.space {
    margin-top: 100px;
}
.button {
    background: #245526;
    color: #f4f4f4;
    border: none;
    font-size:20px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
    background: #3c8f3f;
    color: #f4f4f4;
}