{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hof_navy.css' %}">{%endblock css%}
{% block title %}Hall of fame | Navy{% endblock title %}
{% block body %}
<h2>Hall of fame | Navy</h2>
<div class="grid">
    <a href="https://steemit.com/navy/@aarkay/9-heroes-of-indian-navy-everyone-should-know-about#:~:text=1.%20cdr%20milind%20mohan%20mokashi" target="_blank">
        <div class="box" id="box1">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Cdr Milind Mohan Mokashi.jpg' %}" alt="Cdr Milind Mohan Mokashi">
            </div>
            <p>Cdr Milind Mohan Mokashi</p><br>
            <div class="center">Cdr. Mokashi received the Shaurya Chakra for his outstanding efforts to evacuate thousands of Indian and foreign nationals from war-ravaged Yemen during Operation Rahat in 2015. He was the Commanding Officer of INS Sumitra. Heavily armed Houthi rebels were patrolling the harbour in boats when Mokashi’s ship entered Aden Harbour on the night of March 31. Additionally, there were air strikes by the Saudi-led coalition against the rebels. </div>
         </div>
    </a>

    <a href="https://steemit.com/navy/@aarkay/9-heroes-of-indian-navy-everyone-should-know-about#:~:text=4.%20captain%20rajesh%20dhankhar" target="_blank">
        <div class="box" id="box2">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Captain Rajesh Dhankhar.jpg' %}" alt="Captain Rajesh Dhankhar">
            </div>
            <p>Captain Rajesh Dhankhar</p><br>
            <div class="center">Captain Rajesh Dhankhar received the Nao Sena Medal for Gallantry for saving hundreds of lives amidst heavy shelling in war-torn Yemen as a part of Ops Rahat. Undeterred by the dangerous security scenario ashore, the officer led his team from the front and fought hard to evacuate stranded personnel even during dark hours. This Commanding Officer of INS Mumbai was responsible for the safe evacuation of 441 Indians and foreign nationals.</div>
        </div>
    </a>

    <a href="https://steemit.com/navy/@aarkay/9-heroes-of-indian-navy-everyone-should-know-about#:~:text=5.%20second%20officer%20kalyani%20sen" target="_blank">
        <div class="box" id="box3">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Second Officer Kalyani Sen.png' %}" alt="Major Ramaswamy Parameswaran">
            </div>
            <p>Second Officer Kalyani Sen</p><br>
            <div class="center">The Women’s Royal Indian Naval Service was established as part of the The Royal Indian Navy (RIN) during World War II. Although the women did not serve on board the ships, this did give them a role in the navy. The first Indian service woman who visited the UK was second officer Kalyani Sen. Sen went there to make a comparative study of training and administration in the Women’s Royal Naval Service.</div>
        </div>
    </a>
                
    <a href="https://en.wikipedia.org/wiki/Nilakanta_Krishnan" target="_blank">
        <div class="box" id="box4">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Vice Admiral Krishnan.jpg' %}" alt="Vice Admiral Krishnan">
            </div>
            <p>Vice Admiral Krishnan</p><br>
            <div class="center">Vice-Admiral Krishnan, Flag Officer Commanding, Eastern Naval Command, used a highly creative strategy in the 1971 war with Pakistan. Krishnan was concerned about one of India’s greatest and most formidable carriers, INS Vikrant, being threatened by the presence of Pakistan’s destructive Ghazi submarine in the Bay of Bengal. So he decided to deceive the Pakistani Navy into believing that INS Vikrant was  in the port of Vizag by getting an ageing destroyer INS Rajput to pretend to be Vikrant by sailing it out of Vizag and generating heavy wireless traffic.</div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Mahendra_Nath_Mulla" target="_blank">
        <div class="box" id="box5">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Captain Mahendra Nath Mulla.jpg' %}" alt="Captain Mahendra Nath Mulla">
            </div>
            <p>Captain Mahendra Nath Mulla</p><br>
            <div class="center">Thirty five years years ago, the INS Khukri went down in the Arabian Sea after being torpedoed by a Pakistani submarine. Eighteen officers and 176 sailors went down with it, including the ship’s captain Mahendra Nath Mulla. He was the first captain of independent India’s navy to go down with his ship.</div>
        </div>
    </a>

    <a href="https://steemit.com/navy/@aarkay/9-heroes-of-indian-navy-everyone-should-know-about#:~:text=2.%20captain%20pradeep%20singh" target="_blank">
        <div class="box" id="box6">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Captain Pradeep Singh.jpg' %}" alt="Captain Pradeep Singh">
            </div>
            <p>Captain Pradeep Singh</p><br>
            <div class="center">Captain Pradeep Singh is the recipient of the Nao Sena Medal for Gallantry for his meticulous planning of one of the most daring operations during Operation Rahat in 2015. As the commander of INS Tarkash, his actions led to the safe evacuation of around 600 people of 18 different nationalities from Al Hodeidah and Aden harbours in the face of great hostility and backdrop of violence. He also evacuated 10 nurses who were stuck in heavy crossfiring, as well as the body of the first Indian casualty in the Yemen conflict.</div>
        </div>
    </a>

</div>
{% endblock body %}
{% block space %}
<div style="margin-top: 1200px;"></div>
{% endblock space %}