{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hof_airforce.css' %}">{%endblock css%}
{% block title %}Hall of fame | Army{% endblock title %}
{% block body %}
<h2>Hall of fame | Airforce</h2>
<div class="grid">
    <a href="https://en.wikipedia.org/wiki/Arjan_Singh" target="_blank">
        <div class="box" id="box1">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/IAF Argan Singh.jpeg' %}" alt="IAF Argan Singh">
            </div>
            <p>IAF Argan Singh</p><br>
            <div class="center">Leader in 1944, Arjan Singh led the squadron against the Japanese during the Arakan Campaign. flying close support during the crucial Imphal Campaign and later assisting the advance of the allied forces to Rangoon, Burma. For his role in successfully leading the squadron in combat, Arjan Singh received the Distinguished Flying Cross (DFC) in 1944. He was given command of the IAF Display flight flying Hawker Hurricanes after the war which toured India giving demonstrations. On 15 August 1947, he had the unique honour of leading the fly-past of over a hundred IAF aircraft over Delhi, over the red fort.
            </div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Nirmal_Jit_Singh_Sekhon" target="_blank">
        <div class="box" id="box2">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/FG OFF Nirmal Jit Singh.jpeg' %}" alt="FG OFF Nirmal Jit Singh">
            </div>
            <p>FG OFF Nirmal Jit Singh</p><br>
            <div class="center">Flying Officer Nirmal Jit Singh Sekhon was a pilot of a Gnat detachment based at Srinagar for the Air Defence of the valley against Pakistani air attacks. From the very outbreak of the hostilities he and his colleagues fought the successive waves of intruding Pakistani aircraft with valour and determination, maintaining high reputation of the Gnat aircraft. 
            </div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Mehar_Singh_(pilot)" target="_blank">
        <div class="box" id="box3">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Air commodore Mehar Singh.jpg' %}" alt="Air commodore Mehar Singh">
            </div>
            <p>Air commodore Mehar Singh</p><br>
            <div class="center">Air Commodore Mehar Singh MVC DSO, affectionately called 'Baba' Mehar Singh by his associates and admirers in Indian Air Force, was a legendary pilot and a flying prodigy . His exploits with the flying machines are well known and much celebrated. He was a born leader of men and a team man who always led from the front. Mehar Singh was immensely successful in earning respect of men he commanded by his bravery , daring feats and brilliantleadership. He was a role model for the young fliers in the IAF.
            </div>
        </div>
    </a>
                
    <a href="https://en.wikipedia.org/wiki/Jag_Mohan_Nath" target="_blank">
        <div class="box" id="box4">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Sqdn Leader JM Nath.jpeg' %}" alt="Sqdn Leader JM Nath">
            </div>
            <p>Sqdn Leader JM Nath</p><br>
            <div class="center">During the recent operations against Pakistani, Squadron Leader Jag Mohan Nath, Commanding Officer of a Canberra unit, undertook several missions over enemy territory and obtained vital information about the enemy. The missions, which were all in the nature of reconnaissance, entailed flying long distances over ememy territory and well defended airfields and installations, unescorted and during the day. Although Squadron Leader Nath was fully aware of the risks he was running on every one of the missions, he chose to undertake them himself instead of detaiing his Sqadron pilots, until he was ordered to let his colleagues do some of them.
            </div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Padmanabha_Gautam" target="_blank">
        <div class="box" id="box5">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/SQDN Leader P Gautam.jpeg' %}" alt="SQDN Leader P Gautam">
            </div>
            <p>Sqdn Leader P Gautam</p><br>
            <div class="center">Squadron Leader Padmanabha Gautam, Commanding Officer of Bomber Conversion Training Unit, skillfully adapted his Unit to its operational role at short notice and led it in a number of difficult and dangerous missions. He undertook six important offensive and tactical close support operations over Pakistan territory during the period from the 6th to the 21st September, 1965..</div>
        </div>
    </a>

    <a href="https://www.sikhiwiki.org/index.php/Prem_Pal_Singh" target="_blank">
        <div class="box" id="box6">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/WG CDR PP Singh.jpeg' %}" alt="WG CDR PP Singh">
            </div>
            <p>WG CDR PP Singh</p><br>
            <div class="center">Wing Commander Prem Pal Singh was Commanding Officer of an Operational Bomber Squadron which achieved a high pitch of operational preparedness with a short time. During the period from the 6th to 9th September 1965, he undertook six major offensive and tactical close support operations which included reconnaissance over the Sargodha airfield complex, Dab, Akwal and Marud airfields, marking of Peshawar airfield and bombing of Pakistani troop and armour concentrations in the various sectors. 
            </div>
        </div>
    </a>

</div>
{% endblock body %}
{% block space %}
<div style="margin-top: 1400px;"></div>
{% endblock space %}