{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hof_army.css' %}">{%endblock css%}
{% block title %}Hall of fame | Army{% endblock title %}
{% block body %}
<h2>Hall of fame | Army</h2>
<div class="grid">

    <a href="https://en.wikipedia.org/wiki/Vikram_Batra" target="_blank">
        <div class="box" id="box1">
            <div class="center">
               <img class="img" src="{% static 'images/Hall of fame images/Captain Vikram Batra.png' %}" alt="Captain Vikram Batra">
            </div>
            <p>Captain Vikram Batra</p><br>
            <div class="center">Born in Palampur, Himachal Pradesh, Captain Vikram Batra of 13 J&K Rifles, is known as the hero of the Kargil war. He led one of the toughest war operations in Kashmir, and was also called Sher Shah (in the intercepted messages of the Pakistani army).Captain Vikram Batra was an awardee of Param Vir Chakra posthumously.</div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Ian_Cardozo" target="_blank">
        <div class="box" id="box2">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Major General Ian Cardozo.png' %}" alt="Major General Ian Cardozo">
            </div>
            <p>Major General Ian Cardozo</p><br>
            <div class="center">He was born on 25 June, 1975 at Rudha village, Sitapur, Uttar Pradesh, India. He was a soldier of 1/11 Gorkha Rifles. Another brave soldier who had sacrificed his life for the country's pride. His team was tasked to clear the enemy troops, he carried out a series of attacks to push back the intruders.</div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Ramaswamy_Parameshwaran" target="_blank">
        <div class="box" id="box3">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Major Ramaswamy Parameswaran.png' %}" alt="Major Ramaswamy Parameswaran">
            </div>
            <p>Major Ramaswamy Parameswaran</p><br>
            <div class="center">Born in Mumbai, Maharashtra, Parameswaran is yet another braveheart who died at the age of 41 in 1987, in India’s Sri Lanka operations. He was awarded the Param Vir Chakra, posthumously.</div>
        </div>
    </a>
    
    <a href="https://en.wikipedia.org/wiki/Somnath_Sharma" target="_blank">
        <div class="box" id="box4">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Major Somnath Sharma.png' %}" alt="Major Somnath Sharma">
            </div>
            <p>Major Somnath Sharma</p><br>
            <div class="center">This brave soldier of Fourth Kumaon regiment sacrificed his life at the young age of 24. With his hand already in plaster from an injury sustained in a hockey game, Sharma insisted on being with his company in combat when they were airlifted to Srinagar on October 30, 1947 to fight Pakistani invaders.</div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Arun_Khetarpal" target="_blank">
        <div class="box" id="box5">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Second Lieutenant Arun Khetarpal.png' %}" alt="Second Lieutenant Arun Khetarpal">
            </div>
            <p>Second Lieutenant Arun Khetarpal</p><br>
            <div class="center">Born in Pune, 2nd Lieutenant Arun Khetarpal of the 17 Poona Horse regiment is yet another braveheart who died too young at the age of 21. He died in the Battle of Basantar during the Indo-Pakistan War of 1971, where his brave actions earned him the Param Vir Chakra posthumously.</div>
        </div>
    </a>

    <a href="https://en.wikipedia.org/wiki/Mohammad_Usman" target="_blank">
        <div class="box" id="box6">
            <div class="center">
                <img class="img" src="{% static 'images/Hall of fame images/Brigadier Mohammad Usman.png' %}" alt="Brigadier Mohammad Usman">
            </div>
            <p>Brigadier Mohammad Usman</p><br>
            <div class="center">Born in Bibipur, Uttar Pradesh, this man of steel joined the Indian army in 1934. During the Indo-Pakistan war of 1947/48, Brigadier Usman repulsed a fierce attack on Naushera and Jhangar, two highly strategic locations in Jammu and Kashmir, and was named by his fellow soldiers ‘The Lion of Naushera.</div>
        </div>
    </a>

</div>
{% endblock body %}
{% block space %}
<div style="margin-top: 1200px;"></div>
{% endblock space %}