{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/newsfeed.css' %}">{%endblock css%}
{% block title %}News Feed{% endblock title %}
{% block body %}
<div class="container_box">
    {% for BlogPost in BlogPosts %}
    <div class="blog_post">
        <!-- <div class="blog_img">
             <img src="" alt="">
         </div> -->
        <div class="blog_post_info">
            <div class="date">
                <span>{{BlogPost.day}}</span>
                <span>{{BlogPost.date}}</span>
            </div>
            <h1 class="blog_title">
                {{BlogPost.title}}
            </h1>
            <p class="blog_text">
                {{BlogPost.body}}
            </p>
            <a href="{{BlogPost.link}}" class="btn" target="_blank">Continue Reading</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock body %}
{% block space %}
<div style="margin-top: 230%;"></div>
{% endblock space %}