{% autoescape off %}
Hello,

We received a request to reset the password for your account for this email address, to initiate the password reset process for your Account {{ user.email }},
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Your username, in case you’ve forgotten: {{ user.username }}

Sincerely,
IAFpedia Team
{% endautoescape %}