{% extends 'base_signup_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_forg_pass_page.css' %}">{%endblock css%}
{% block title %}Forgot password{% endblock title %}
{% block body %}
<div class="bg">
    <form method="POST">
        {% csrf_token %}
        <h1>RESET PASSWORD</h1>
        <div class="medium-space"></div>

        <label>Enter username:</label>
        <div class="small-space"></div>
        <input name="username" type="text" required placeholder="Your username">
        <div class="small-space"></div>

        <label class="pass">Enter email:</label>
        <div class="small-space"></div>
        <input name="email" id="id_email" type="email" required placeholder="Your email">
        <div class="medium-space"></div>

        <div class="center">
            <span>Go to login page,</span>
            <a href="{% url 'login_page' %}">Login</a>
            <div class="small-space"></div>
            <span>Don't have an account,</span>
            <a href="{% url 'signup_page' %}">Sign up!</a>

            <div class="medium-space"></div>
            <button class="button" type="submit">Send reset email</button>
        </div>
    </form>
</div>
{% endblock body %}