{% extends 'base_signup_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_forg_pass_page.css' %}">{%endblock css%}
{% block title %}Forgot password{% endblock title %}
{% block body %}
<div class="bg">
    <form method="POST">
        {% csrf_token %}
        <h1>ENTER NEW PASSWORD</h1>
        <div class="medium-space"></div>

        <label>New password:</label>
        <div class="small-space"></div>
        <input name="new_password1" id="id_new_password1" type="password" required>
        <div class="small-space"></div>

        <label class="pass">Confirm password:</label>
        <div class="small-space"></div>
        <input name="new_password2" id="id_new_password2" type="password" required>
        <div class="medium-space"></div>

        <div class="center">
            <!-- <span>Go to login page,</span>
            <a href="{% url 'login_page' %}">Login</a>
            <div class="small-space"></div>
            <span>Don't have an account,</span>
            <a href="{% url 'signup_page' %}">Sign up!</a> -->

            <div class="medium-space"></div>
            <input type="submit" value="Change password" class="button">
        </div>
    </form>
</div>
{% endblock body %}