{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sources_page.css' %}">{%endblock css%}
{% block title %}Sources{% endblock title %}
{% block body %}
        <!--Added By Omkar Mudkanna for sources page-->
            <div id="sources_box">
                <div id="army_sources">
                    <div id="sources_header">
                        <h2>Indian Army</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="https://www.indianarmy.nic.in/"><p>Indian Army Homepage</p></a>
                                    <p>Official website of Indian Army</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.upsc.gov.in"><p>Union Public Service Commission.</p></a>
                                    <p>Official website of UPSC commission for detailed information to join Indian Army</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.joinindianarmy.nic.in"><p>Join Indian Army</p></a>
                                    <p>Official Registration link to register for Indian Army exams and entry schemes</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://joinindianarmy.nic.in/default.aspx"><p>Staff Selection Commission</p></a>
                                    <p>Official link to register for SSC</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.indianarmy.nic.in/Default3.aspx?MenuId=Z/1QJfgY7X//5Xfg/1ZUdg=="><p>Special Commissioned Officers Entry</p></a>
                                    <p>Detailed Information for Special Commissioned Officers Entry</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.jointerritorialarmy.gov.in/home/login"><p>Territorial Army</p></a>
                                    <p>Official website for Detailed Information and Registration for Territorial Army</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="navy_sources">
                    <div id="sources_header">
                        <h2>Indian Navy</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="https://www.indiannavy.nic.in/"><p>Indian Navy Homepage</p></a>
                                    <p>Official website of Indian Navy</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.upsc.gov.in"><p>Union Public Service Commission.</p></a>
                                    <p>Official website of UPSC commission for detailed information to join Indian Navy</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.joinindiannavy.gov.in/"><p>Join Indian Navy</p></a>
                                    <p>Official Registration link to register for Indian Navy exams and entry schemes</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.upsc.gov.in/examinations/Combined%20Defence%20Services%20Examination%20%28I%29%2C%202021"><p>Combined Defence Services Examination</p></a>
                                    <p>Official Registration link to register for CDS</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.joinindiannavy.gov.in/en/amieligible/eligibilityform?page=4&eligibilityform=index&url=%2"><p>Join Indian Navy</p></a>
                                    <p>Official Website to check eligiblity for Naval Exams and entry schemes</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.joinindiannavy.gov.in/en/page/selection-procedure-sailors-entry-aa-ssr-mr-chef-steward.h"><p>Selection Procedure</p></a>
                                    <p>Official Link for detailed information of selection procedures for Indian Naval Exams and entry schemes</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="airforce_sources">
                    <div id="sources_header">
                        <h2>Indian AirForce</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="https://indianairforce.nic.in/"><p>Indian Air Force Homepage</p></a>
                                    <p>Official website of Indian Air Force</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.upsc.gov.in"><p>Union Public Service Commission.</p></a>
                                    <p>Official website of UPSC commission for detailed information to join Indian Airforce</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.upsc.gov.in/examinations/Combined%20Defence%20Services%20Examination%20%28I%29%2C%202021"><p>Combined Defence Services Examination</p></a>
                                    <p>Official Registration link to register for CDS (Air Force)</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://afcat.cdac.in/"><p>Air Force Common Admission Test</p></a>
                                    <p>Official website for detailed information and registration for Air Force Common Admission Test</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://afcat.cdac.in/AFCAT/"><p>Exploring Indian Airforce</p></a>
                                    <p>Official Website for Exploring Indian Airforce and Latest news</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="https://www.airmenselection.cdac.in"><p>Airmen group X and Y</p></a>
                                    <p>Official Webpage of CENTRAL AIRMEN SELECTION BOARD for detailed information and registration for Airmen group</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Added By Omkar Mudkanna for sources page-->    
{% endblock body %}
{% block space %}
<div class="last-space"></div>
{% endblock space %}